<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 팀원 모집(게시글 상세)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/teamdetail.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="contents">
            <div class="content-title">
              <p>게시글 (팀원 모집)</p>
            </div>
            <!-- 삭제 수정 버튼 -->
            <div class="content-btns">
              <a href="{% url 'team_board:edit_board' board.id %}"
                ><div class="rewrite-btn">
                  <p>수정</p>
                </div></a
              >
              <a href="#"
                ><div class="delete-btn">
                  <p>삭제</p>
                </div></a
              >
            </div>
          </div>

          <div class="box">
            <div class="contentbox">
              <div class="content-titles">
                <p>{{ board.title }}</p>
                <div class="content-dept">
                  <p>국어국문학전공</p>
                </div>
              </div>
              <div class="content-text">
                <p>{{ board.content }}</p>
              </div>
            </div>
            <div class="writer">
              <p>작성자 : writer</p>
              <p>작성일시 : {{ board.pub_date }}</p>
            </div>
          </div>

          <div class="box-2">
            <div class="coms">
              {% for rep in board.replies.all %}
              <!-- 댓글 하나 -->
              <div class="com">
                <div class="com-id">
                  <p>ID</p>
                </div>
                <div class="com-text">
                  <p>{{ rep.comment }}</p>
                </div>
              </div>
              {% endfor %}

              <!-- 댓글 end -->
            </div>
            <form action="{% url 'team_board:create_reply' board.id %}" method="post" class="form">
              {% csrf_token %}
              <input type="text" name="comment" id="comment-text" placeholder="댓글을 입력해주세요." />
              <input type="submit" value="완료" class="submit-button" />
            </form>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'image/speech-bubble.png' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
    <script src="{% static 'js/preview-file.js' %}"></script>
  </body>
</html>
