<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 아동가족학전공</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page_global.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="dept">
            <!-- 대학 정보 -->
            <div class="univ">
              <p>아동가족학전공</p>
              <p style="font-size: 1.7em">Human Development & Family Studies</p>
            </div>
            <div class="select-dept">
              <div class="univ-name">
                <p>글로벌융합대학</p>
              </div>
              <div class="choose">
                <form action="#" method="POST">
                  {% csrf_token %}
                  <!-- changeDept -->
                  <select name="dept" id="input-dropdown">
                    <option disabled value="">전공을 선택해주세요. ▼</option>
                    <option value="국어국문학전공">국어국문학전공</option>
                    <option value="일어일문학전공">일어일문학전공</option>
                    <option value="중어중문학전공">중어중문학전공</option>
                    <option value="영어영문학전공">영어영문학전공</option>
                    <option value="불어불문학전공">불어불문학전공</option>
                    <option value="독어독문학전공">독어독문학전공</option>
                    <option value="스페인어전공">스페인어전공</option>
                    <option value="사학전공">사학전공</option>
                    <option value="철학전공">철학전공</option>
                    <option value="미술사학전공">미술사학전공</option>
                    <option value="문화인류학전공">문화인류학전공</option>
                    <option value="경영학전공">경영학전공</option>
                    <option value="회계학전공">회계학전공</option>
                    <option value="국제통상학전공">국제통상학전공</option>
                    <option value="법학전공">법학전공</option>
                    <option value="사회학전공">사회학전공</option>
                    <option value="문헌정보학전공">문헌정보학전공</option>
                    <option value="심리학전공">심리학전공</option>
                    <option selected value="아동가족학전공">아동가족학전공</option>
                    <option value="사회복지학전공">사회복지학전공</option>
                    <option value="정치외교학전공">정치외교학전공</option>
                    <option value="의상디자인학전공">의상디자인학전공</option>
                    <option value="유아교육과">유아교육과</option>
                  </select>
                  <input type="submit" value="선택" id="choose-btn" />
                </form>
              </div>
            </div>
          </div>

          <div class="box">
            졸업요건
            <div class="contentbox">
              1. 전공과목 리포트 제출 (수업과제물)<br />
              &nbsp; 1&#41; 보육교사 2급 취득자의 경우 다음 교과목을 아동가족학전공에서 이수한 후 리포트에 준하는 자료를 제출한다.<br />
              &nbsp; &nbsp; &nbsp; (아동건강교육, 정신건강론, 아동상담론)<br />
              &nbsp; 2&#41; 건강가정사 취득자의 경우 다음 교과목을 아동가족학전공에서 이수한 후 리포트에 준하는 자료를 제출한다.<br />
              &nbsp; &nbsp; &nbsp; (가족상담, 가족생활교육, 가족복지 및 정책, 건강가정론, 아동가족 연구방법론)<br />
              2. 전공 과정 국가자격 1개 이상 취득<br />
              &nbsp; 1&#41; 보육교사 2급: 보육실습은 다음 교과목을 선수로 이수한 후에 진행한다.<br />
              &nbsp; &nbsp; -놀이지도, 아동관찰 및 행동연구, 영유아발달, 영유아교수방법, 영유아프로그램 개발과 평가<br />
              &nbsp; &nbsp; -관련 교과목(보육실습 포함, 보육실습 과목 패스(P) 기준 점수 80점 이상) 이수 후 졸업 시 자격증 취득<br />
              &nbsp; 2&#41; 건강가정사: 관련 교과목(건강가정현장실습 포함) 이수 후 자격 인정<br />
              3. 필수 교과목 이수: 놀이치료<br />
              4. 위 항목 모두를 반드시 충족시키는 것을 원칙으로 하되, 기타 전공 교원 전원이 필요하다고 판단한 경우에는 예외를 둔다.
            </div>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'js/preview-file.js' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
