<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 사이버보안</title>

    <link rel="stylesheet" href="./css/global.css" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="#">
            <img src="image/logo.png" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="./image/user.png" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="dept">
            <!-- 대학 정보 -->
            <div class="univ">
              <p>사이버보안전공</p>
              <p style="font-size: 1.7em">Cyber Security</p>
            </div>
            <div class="select-dept">
              <div class="univ-name">
                <p>과학기술대학</p>
              </div>
              <div class="choose">
                <form action="#" method="POST">
                  <!-- changeDept -->
                  <select name="dept-tech" id="input-dropdown">
                    <option disabled value="">전공을 선택해주세요. ▼</option>
                    <option value="computer">컴퓨터공학전공</option>
                    <option value="itmedia">IT미디어공학전공</option>
                    <option value="bio">바이오공학전공</option>
                    <option selected value="cyber">사이버보안전공</option>
                    <option value="software">소프트웨어전공</option>
                    <option value="sports">생활체육학전공</option>
                    <option value="food">식품영양학전공</option>
                    <option value="infstatistic">정보통계학전공</option>
                    <option value="chemical">화학전공</option>
                    <option value="math">수학전공</option>
                  </select>
                  <input type="submit" value="선택" id="choose-btn" />
                </form>
              </div>
            </div>
          </div>

          <div class="box">
            졸업요건
            <div class="contentbox">
              필수<br />
              지능보안프로젝트1, 지능보안프로젝트2 (결과물: 제죽품 및 보고서)<br />
              선택 (택2)<br />
              공인어학점수(TOEIC 700이상에 상응하는 공인어학점수, IT 및 보안 기술 관련 국가공인 자격증, 전국 규모 IT 관련 공모전/경진대회/해커톤/프로그래밍대회 입상, 졸업논문(정규학회 논문지 혹은 학술대회 출판/발표), 학과주도 행사 참여 90% 이상<br />
            </div>
          </div>

          <div class="box">
            전시회 정보(최근 2개년)
            <div class="contents">
              <div class="contentbox-2" style="justify-content: center">
                <div class="grad-text">
                  <p>(정보없음)</p>
                </div>
              </div>
              <div class="contentbox-2" style="justify-content: center">
                <div class="grad-text">
                  <p>(정보없음)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            졸업 작품 아카이브
            <!-- 아카이빙 -->
            <div class="contentbox-3">
              <div class="grad-img">
                <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
              </div>
              <div class="grad-text">
                <p style="font-size: 1.1em; font-weight: bold">제 32회 졸업전시회</p>
                <p style="margin-top: 20px">SHORT</p>
                <p>WRC (김윤수 김은지 최은지 민상은)</p>
                <p style="margin-top: 20px">북마크 및 즐겨찾기가 필요한 링크 또는 이미지를 한 눈에 요약해주고, 필요하면 노트식으로 정리해주는 웹 서비스</p>
              </div>
            </div>
            <!-- 아카이빙 -->
            <div class="contentbox-3">
              <div class="grad-img">
                <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
              </div>
              <div class="grad-text">
                <p style="font-size: 1.1em; font-weight: bold">제 32회 졸업전시회</p>
                <p style="margin-top: 20px">SHORT</p>
                <p>WRC (김윤수 김은지 최은지 민상은)</p>
                <p style="margin-top: 20px">북마크 및 즐겨찾기가 필요한 링크 또는 이미지를 한 눈에 요약해주고, 필요하면 노트식으로 정리해주는 웹 서비스</p>
              </div>
            </div>

            <!-- 아카이빙 버튼 -->
            <a href="#">
              <div class="contentbox-btn">
                <p>+</p>
              </div>
            </a>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="./image/speech-bubble.png" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
