<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 졸업유예</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page_global.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="content-title">
            <p>졸업유예</p>
          </div>

          <div class="box">
            <div class="contentbox">
              ① 졸업에 필요한 취득학점은 130학점(약학 2+4년제는 165학점, 약학 6년제는 240학점) 이상으로 한다. (개정 2011.1.20, 2021.12.14.)<br />
              ② 졸업을 위해서는 총장이 따로 정하는 졸업인증제 요건을 충족하여야 한다.<br />
              ③ 수업연한 이상을 등록하고 해당 교육과정에 필요한 학점을 모두 취득하였으나 본조 제2항을 충족하지 못한 경우에는 학위과정수료로 하고, 학사학위취득이 가능함에도 이를 유예한 경우에는 학사학위취득유예로 한다. (개정 2019.1.24)<br />
              ④ 학사학위과정수료와 학사학위취득유예에 관한 세부사항은 총장이 따로 정한다. (개정 2019.1.24.)<br />
              ⑤ 부모 모두 외국인인 외국인특별전형으로 입학(편입학을 포함한다)한 외국인 유학생의 경우 졸업 요건으로 한국어능력 인증을 받아야 하며, 이에 관한 세부사항은 총장이 따로 정한다. (신설 2021.12.14.)<br />
            </div>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'js/preview-file.js' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
