<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 사학전공</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page_global.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="dept">
            <!-- 대학 정보 -->
            <div class="univ">
              <p>사학전공</p>
              <p style="font-size: 1.7em">History</p>
            </div>
            <div class="select-dept">
              <div class="univ-name">
                <p>글로벌융합대학</p>
              </div>
              <div class="choose">
                <form action="#" method="POST">
                  {% csrf_token %}
                  <!-- changeDept -->
                  <select name="major" id="input-dropdown">
                  <option disabled value="">전공을 선택해주세요. ▼</option>
                  <option value="국어국문학전공">국어국문학전공</option>
                  <option value="일어일문학전공">일어일문학전공</option>
                  <option value="중어중문학전공">중어중문학전공</option>
                  <option value="영어영문학전공">영어영문학전공</option>
                  <option value="불어불문학전공">불어불문학전공</option>
                  <option value="독어독문학전공">독어독문학전공</option>
                  <option value="스페인어전공">스페인어전공</option>
                  <option selected value="사학전공">사학전공</option>
                  <option value="철학전공">철학전공</option>
                  <option value="미술사학전공">미술사학전공</option>
                  <option value="문화인류학전공">문화인류학전공</option>
                  <option value="경영학전공">경영학전공</option>
                  <option value="회계학전공">회계학전공</option>
                  <option value="국제통상학전공">국제통상학전공</option>
                  <option value="법학전공">법학전공</option>
                  <option value="사회학전공">사회학전공</option>
                  <option value="문헌정보학전공">문헌정보학전공</option>
                  <option value="심리학전공">심리학전공</option>
                  <option value="아동가족학전공">아동가족학전공</option>
                  <option value="사회복지학전공">사회복지학전공</option>
                  <option value="정치외교학전공">정치외교학전공</option>
                  <option value="의상디자인학전공">의상디자인학전공</option>
                  <option value="유아교육과">유아교육과</option>
                  </select>
                  <input type="submit" value="선택" id="choose-btn" />
                </form>
              </div>
            </div>
          </div>

          <div class="box">
            졸업요건
            <div class="contentbox">
              1. 졸업논문(200자 원고지 80매 이상)또는 한국사능력검정시험 1급 인증(졸업일자로부터 3년 이내 취득)제출<br />
              2. 졸업인증제 자격 취득: ①~④의 졸업 인증 요건 중 한 가지 이상을 반드시 갖추어야 함.<br />
              &nbsp; &nbsp; ① 한자능력 검정시험 &nbsp; &nbsp; &nbsp; 한국어문회 , 한자교육진흥회, 대한검정회 등 공인 한자능력 검정 기관의 한자능력 검정시험 2급 이상 획득<br />
              &nbsp; &nbsp; ② 공인영어시험<br />
              &nbsp; &nbsp; &nbsp; TOEIC 700점, TOEFL(CBT 203점, IBT 74점), TEPS 600점 이상 획득<br />
              &nbsp; &nbsp; ③ 공인중국어시험<br />
              &nbsp; &nbsp; &nbsp; 신HSK4급 이상 획득<br />
              &nbsp; &nbsp; ④ 공인 일본어 시험 JLPT N2급 이상 획득<br />
              &nbsp; &nbsp; ⑤ 기타 이에 준하는 어학 관련 인증 및 자격증으로 전공의 허가를 얻은 경우<br />
              3. 학술답사 참가(2013년 본과 신입학, 전입학, 편입학자 및 복수전공자부터 적용)<br />
              *신입학생과 2학년 전입 학생은 졸업 전까지 매년 1, 2학기 정기학술답사 및 본과 교수가 주관하는 해외답사(중국답사 등) 중 총 3회 이상, 3학년 전입학생과 편입학생은 총 2회 이상, 복수전공자는 1회 이상을 반드시 참가해야 졸업 가능<br />
              **2019~2021학년도 1, 2학기에 한해서 한시적으로 일일답사 2회에 한하여 정기학술답사 1회로 인정함
            </div>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'js/preview-file.js' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
