<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 심리학전공</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page_global.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="dept">
            <!-- 대학 정보 -->
            <div class="univ">
              <p>심리학전공</p>
              <p style="font-size: 1.7em">Psychology</p>
            </div>
            <div class="select-dept">
              <div class="univ-name">
                <p>글로벌융합대학</p>
              </div>
              <div class="choose">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <!-- changeDept -->
                    <select name="major" id="input-dropdown">
                    <option disabled value="">전공을 선택해주세요. ▼</option>
                    <option value="국어국문학전공">국어국문학전공</option>
                    <option value="일어일문학전공">일어일문학전공</option>
                    <option value="중어중문학전공">중어중문학전공</option>
                    <option value="영어영문학전공">영어영문학전공</option>
                    <option value="불어불문학전공">불어불문학전공</option>
                    <option value="독어독문학전공">독어독문학전공</option>
                    <option value="스페인어전공">스페인어전공</option>
                    <option value="사학전공">사학전공</option>
                    <option value="철학전공">철학전공</option>
                    <option value="미술사학전공">미술사학전공</option>
                    <option value="문화인류학전공">문화인류학전공</option>
                    <option value="경영학전공">경영학전공</option>
                    <option value="회계학전공">회계학전공</option>
                    <option value="국제통상학전공">국제통상학전공</option>
                    <option value="법학전공">법학전공</option>
                    <option value="사회학전공">사회학전공</option>
                    <option value="문헌정보학전공">문헌정보학전공</option>
                    <option selected value="심리학전공">심리학전공</option>
                    <option value="아동가족학전공">아동가족학전공</option>
                    <option value="사회복지학전공">사회복지학전공</option>
                    <option value="정치외교학전공">정치외교학전공</option>
                    <option value="의상디자인학전공">의상디자인학전공</option>
                    <option value="유아교육과">유아교육과</option>
                  </select>
                  <input type="submit" value="선택" id="choose-btn" />
                </form>
              </div>
            </div>
          </div>

          <div class="box">
            졸업요건
            <div class="contentbox">
              2011학번 이전 졸업요건<br />
              1. 논문 or 리포트 택 1<br />
              &nbsp; -논문: 심리학 전공 주제로 A4 15매 이상 논문 형식을 갖추어 제출<br />
              &nbsp; -리포트: 심리학 관련 Report 2개 이상 제출<br />
              &nbsp; &nbsp; (1개당 10매 이상, 주제는 심리학 관련으로 자유롭게, 10pt)<br />
              &nbsp; &nbsp; (분량은 표지 및 목차를 포함하지 않음. 본문부터 10매 이상)<br />
              2011학번부터 졸업요건: 아래 1,2 항목을 모두 충족<br />
              1. 논문 or 리포트 택 1<br />
              &nbsp; -논문: 심리학 전공 주제로 A4 15매 이상 논문 형식을 갖추어 제출<br />
              &nbsp; -리포트: 심리학 관련 Report 2개 이상 제출<br />
              &nbsp; &nbsp; (1개당 10매 이상, 주제는 심리학 관련으로 자유롭게, 10pt)<br />
              &nbsp; &nbsp; (분량은 표지 및 목차를 포함하지 않음. 본문부터 10매 이상)<br />
              2. 영어 TOEIC 또는 TOEFL 취득<br />
              &nbsp; -TOEIC 750 이상<br />
              &nbsp; -TOEFL PAPER 550 / TOEFL CBT 210 / TOEFL IBT 80<br />
              &nbsp; -TOEIC Speaking Lv5 이상<br />
              &nbsp; -OPIc IM3 이상<br />
              &nbsp; -위에 기재되지 않은 공인 영어시험 점수기준의 경우 통상적인 점수 환산기준에 준함.<br />
              &nbsp; &nbsp; ※ 공인영어시험 면제 조건<br />
              &nbsp; &nbsp; &nbsp; • 행정고시, 외교관후보자 등 5급 국가고시나 7-9급 공무원 시험에 준하는 공직채용시험 합격자<br />
              &nbsp; &nbsp; &nbsp; • 법무사, 노무사 등 국가공인자격시험 합격자<br />
              &nbsp; &nbsp; &nbsp; • 청소년상담사, 한국산업인력공단 임상심리사 등 심리학 관련 국가자격시험의 필기합격자<br />
              &nbsp; &nbsp; &nbsp; • 대학원 진학 예정자: 합격증명서 제출 필수<br />
              &nbsp; &nbsp; &nbsp; • 4대보험 가입된 정규직 및 계약직 취업자: 재직증명서와 4대보험 가입내역서 제출 필수<br />
            </div>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'js/preview-file.js' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
