<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 정규학기</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page_global.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="content-title">
            <p>정규학기</p>
          </div>

          <div class="box">
            <div class="contentbox">
              [2017~2018학년도]<br />
              1. 등록횟수: 8학기 이상<br />
              2. 졸업학점: 130학점 이상<br />
              3. 교양<br />
              &nbsp; -이수학점: 32학점<br />
              &nbsp; -학문의 기초<br />
              &nbsp; &nbsp; • [융합적사고와문제해결, 컴퓨팅사고] 중 1과목 이수<br />
              &nbsp; &nbsp; • [기본영어1,2(기본영어), 심화영어1,2(심화영어), 영어회화, *전문영어 및 제2외국어회화 영역] 중 2과목 이수<br />
              &nbsp; &nbsp; • [이해와소통세미나, 이해와소통세미나ㆍ글쓰기] 중 1과목 이수<br />
              &nbsp; -학문의 융합: 5개 영역에서 각 1과목씩 이수<br />
              4. 전공(복수전공)<br />
              &nbsp; -이수학점: 45학점<br />
              5. 인증 및 학과별 졸업요건: 전공(학과)별 졸업요건 필수 이수<br />
              6. 부전공: 30학점<br />
              7. 연계전공: 36학점<br />
              8. 심화전공: 63학점<br />
              9. 필수요건: 부전공, 복수전공, 연계전공, 신화전공 중 1개 과정 이상을 반드시 이수<br />
              * 학과별 졸업요건은 필수적으로 이수하여야 함(복수전공 포함)<br />
              * 핵심교양ㆍ학문의융합역량, 학문의융합은 변경된 학문의융합(계열교양)으로 적용함<br />
              * 2019학년도 이전 융합적사고와 문제해결은 컴퓨팅사고로 과목명 변경<br />
              * 전문영어 및 제2외국어회화 영역: 전문영아, 일본어회화, 중국어회화, 프랑스어회화, 독일어회화, 스페인어회화<br />
              <br />
              [2019학년도 이후]<br />
              1. 등록횟수: 8학기 이상<br />
              2. 졸업학점: 130학점 이상<br />
              3. 교양<br />
              &nbsp; -이수학점: 34학점<br />
              &nbsp; -학문의 기초<br />
              &nbsp; &nbsp; • 덕성인의 기초 이수<br />
              &nbsp; &nbsp; • [융합적사고와문제해결, 컴퓨팅사고] 중 1과목 이수<br />
              &nbsp; &nbsp; • [기본영어1,2(기본영어), 심화영어1,2(심화영어), 영어회화, *전문영어 및 제2외국어회화 영역] 중 2과목 이수<br />
              &nbsp; &nbsp; • [이해와소통세미나, 이해와소통세미나ㆍ글쓰기] 중 1과목 이수<br />
              &nbsp; -학문의 융합: 5개 영역에서 각 1과목씩 이수<br />
              4. 전공(복수전공)<br />
              &nbsp; -이수학점: 45학점<br />
              5. 인증 및 학과별 졸업요건: 전공(학과)별 졸업요건 필수 이수<br />
              6. 부전공: 30학점<br />
              7. 연계전공: 36학점<br />
              8. 심화전공: 63학점<br />
              9. 필수요건: 부전공, 복수전공, 연계전공, 신화전공 중 1개 과정 이상을 반드시 이수<br />
              * 학과별 졸업요건은 필수적으로 이수하여야 함(복수전공 포함)<br />
              * 핵심교양ㆍ학문의융합역량, 학문의융합은 변경된 학문의융합(계열교양)으로 적용함<br />
              * 2019학년도 이전 융합적사고와 문제해결은 컴퓨팅사고로 과목명 변경<br />
              * 전문영어 및 제2외국어회화 영역: 전문영어, 일본어회화, 중국어회화, 프랑스어회화, 독일어회화, 스페인어회화<br />
              <br />
              [2020학년도]<br />
              1. 등록횟수: 8학기 이상<br />
              2. 졸업학점: 130학점 이상<br />
              3. 교양<br />
              &nbsp; -이수학점: 33학점<br />
              &nbsp; -학문의기초<br />
              &nbsp; &nbsp; • 덕성인의 기초<br />
              &nbsp; &nbsp; • 나의진로 나의꿈<br />
              &nbsp; &nbsp; • 이해와소통세미나<br />
              &nbsp; &nbsp; • 대학글쓰기<br />
              &nbsp; &nbsp; • 컴퓨팅사고<br />
              &nbsp; &nbsp; • 영어회화<br />
              &nbsp; &nbsp; • *전문영어 및 제2외국어회화<br />
              &nbsp; -학문의융합<br />
              &nbsp; &nbsp; • A1, A2, A3영역| A1, A2, A3 중 2개 영역에서 1과목 이상 이수<br />
              &nbsp; &nbsp; • B영역| 1과목 이상 이수<br />
              &nbsp; &nbsp; • C영역| 1과목 이상 이수<br />
              &nbsp; -자기설계ㆍ개발: 6학점<br />
              4. 전공탐색: 12학점, 학문의융합(전공탐색교양)+전공탐색<br />
              5. 전공<br />
              &nbsp; -제1,2전공: 36학점(유아교육과 45학점/약학 2+4년제 165학점)<br />
              6. 인증 및 학과별 졸업요건: 전공(학과)별 졸업요건 필수 이수<br />
              7. 심화전공: 63학점<br />
              8. 필수요건: 제2전공, 심화전공 중 1개 과정 이상을 반드시 이수<br />
              <br />
              [2021~2022학년도]<br />
              1. 등록횟수: 8학기 이상<br />
              2. 졸업학점: 130학점 이상<br />
              3. 교양<br />
              &nbsp; -이수학점: 36학점<br />
              &nbsp; -학문의기초<br />
              &nbsp; &nbsp; • 덕성인의 기초<br />
              &nbsp; &nbsp; • 나의진로 나의꿈<br />
              &nbsp; &nbsp; • 이해와소통세미나<br />
              &nbsp; &nbsp; • 대학글쓰기<br />
              &nbsp; &nbsp; • 컴퓨팅사고<br />
              &nbsp; &nbsp; • 영어회화<br />
              &nbsp; &nbsp; • *전문영어 및 제2외국어회화<br />
              &nbsp; -학문의융합<br />
              &nbsp; &nbsp; • A1, A2, A3영역| 3개 영역에서 각 1과목 이상 이수<br />
              &nbsp; &nbsp; • B영역| 1과목 이상 이수<br />
              &nbsp; &nbsp; • C영역| 1과목 이상 이수<br />
              &nbsp; -자기설계ㆍ개발: 6학점<br />
              4. 전공탐색: 12학점<br />
              5. 전공<br />
              &nbsp; -제1,2전공: 36학점(유아교육과 45학점/약학 2+4년제 165학점/약학 6년제 204학점)<br />
              6. 인증 및 학과별 졸업요건: 전공(학과)별 졸업요건 필수 이수<br />
              7. 심화전공: 63학점<br />
              8. 필수요건: 제2전공, 심화전공 중 1개 과정 이상을 반드시 이수<br />
              <br />
              [2023학년도]<br />
              1. 등록횟수: 8학기 이상<br />
              2. 졸업학점: 130학점 이상<br />
              3. 교양<br />
              &nbsp; -이수학점: 36학점<br />
              &nbsp; -학문의기초<br />
              &nbsp; &nbsp; • 덕성인의 기초<br />
              &nbsp; &nbsp; • 나의진로 나의꿈<br />
              &nbsp; &nbsp; • 이해와소통세미나<br />
              &nbsp; &nbsp; • 대학글쓰기<br />
              &nbsp; &nbsp; • 컴퓨팅사고<br />
              &nbsp; &nbsp; • 영어회화<br />
              &nbsp; &nbsp; • *전문영어 및 제2외국어회화<br />
              &nbsp; -학문의융합<br />
              &nbsp; &nbsp; • A1, A2, A3영역| 3개 영역에서 각 1과목 이상 이수<br />
              &nbsp; &nbsp; • B영역| 1과목 이상 이수<br />
              &nbsp; &nbsp; • C영역| 1과목 이상 이수<br />
              &nbsp; -자기설계ㆍ개발: 6학점<br />
              4. 전공탐색: 12학점<br />
              5. 전공<br />
              &nbsp; -제1,2전공: 36학점(디지털소프트웨어공학부 45학점/유아교육과 45학점/약학 2+4년제 165학점/약학 6년제 204학점)<br />
              &nbsp; -제1,2전공: 36학점(디지털소프트웨어공학부 45학점/유아교육과 45학점/약학 2+4년제 165학점/약학 6년제 204학점)<br />
              6. 인증 및 학과별 졸업요건: 전공(학과)별 졸업요건 필수 이수<br />
              7. 심화전공: 63학점<br />
              8. 필수요건: 제2전공, 심화전공 중 1개 과정 이상을 반드시 이수<br />
            </div>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'js/preview-file.js' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
