<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 컴퓨터공학</title>

    <link rel="stylesheet" href="./css/global.css" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="#">
            <img src="image/logo.png" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="./image/user.png" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="dept">
            <!-- 대학 정보 -->
            <div class="text21"><a href="{% url 'computer' %}">&lt</a></div>
            <div class="univ">
              <p>소프트웨어전공</p>
              <p style="font-size: 1.7em">Software</p>
            </div>
            <div class="select-dept">
              <div class="univ-name">
                <p>과학기술대학</p>
              </div>
              {% comment %} <div class="choose">
                <form action="#" method="POST">
                  <!-- changeDept -->
                  <select name="dept-tech" id="input-dropdown">
                    <option disabled value="">전공을 선택해주세요. ▼</option>
                    <option selected value="computer">컴퓨터공학전공</option>
                    <option value="itmedia">IT미디어공학전공</option>
                    <option value="bio">바이오공학전공</option>
                    <option value="cyber">사이버보안전공</option>
                    <option value="software">소프트웨어전공</option>
                    <option value="sports">생활체육학전공</option>
                    <option value="food">식품영양학전공</option>
                    <option value="infstatistic">정보통계학전공</option>
                    <option value="chemical">화학전공</option>
                    <option value="math">수학전공</option>
                  </select>
                  <input type="submit" value="선택" id="choose-btn" />
                </form>
              </div> {% endcomment %}
            </div>
          </div>

          <div class="box">
            졸업요건
            <div class="contentbox">
              아래 요건 모두 충족<br />
              1.졸업프로젝트 1,2 수강<br />
              2.졸업전시회 WISCOM 참여<br />
              3.어학 및 컴퓨터 인증(다음 중 1개 이상 충족)<br />
              (1)영어 TOEIC 700점 이상 혹은 이에 준하는 어학능력점수 취득<br />
              (2)국가, 민간 공인자격증 취득<br />
              - 국가자격증: 정보처리기사(한국산업인력공단) 혹은 이에 준하는 공인자격증 취득<br />
              - 민간자격증: DB(OCP, SQLD), JAVA(OCJP) 등 컴퓨터 관련 사설 자격증 취득<br />
              (3)공인된 소프트웨어 경진대회 입상<br />
            </div>
          </div>

          <div class="box">
            전시회 정보(최근 2개년)
            <div class="contents">
              <div class="contentbox-2">
                <div class="grad-img">
                  <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
                </div>
                <div class="grad-text">
                  <p style="font-size: 1.2em; font-weight: bold">제 32회 졸업전시회</p>
                  <p style="font-weight: bold; margin-top: 5px">장소</p>
                  <p>덕성여자대학교 쌍문근화캠퍼스 도서관 오스카라운지</p>
                  <p style="font-weight: bold; margin-top: 5px">일시</p>
                  <p>11.16 WED ~ 11.17 THUR 10:00~18:00</p>
                  <p style="font-weight: bold; margin-top: 5px">온라인 전시회</p>
                  <a href="http://www.dswuwis.com"><p>http://www.dswuwis.com</p></a>
                </div>
              </div>
              <div class="contentbox-2">
                <div class="grad-img">
                  <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
                </div>
                <div class="grad-text">
                  <p style="font-size: 1.1em; font-weight: bold">제 32회 졸업전시회</p>
                  <p style="font-weight: bold; margin-top: 5px">장소</p>
                  <p>덕성여자대학교 쌍문근화캠퍼스 도서관 오스카라운지</p>
                  <p style="font-weight: bold; margin-top: 5px">일시</p>
                  <p>11.16 WED ~ 11.17 THUR 10:00~18:00</p>
                  <p style="font-weight: bold; margin-top: 5px">온라인 전시회</p>
                  <a href="http://www.dswuwis.com"><p>http://www.dswuwis.com</p></a>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            졸업 작품 아카이브
            <!-- 아카이빙 -->
            <div class="contentbox-3">
              <div class="grad-img">
                <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
              </div>
              <div class="grad-text">
                <p style="font-size: 1.1em; font-weight: bold">제 32회 졸업전시회</p>
                <p style="margin-top: 20px">SHORT</p>
                <p>WRC (김윤수 김은지 최은지 민상은)</p>
                <p style="margin-top: 20px">북마크 및 즐겨찾기가 필요한 링크 또는 이미지를 한 눈에 요약해주고, 필요하면 노트식으로 정리해주는 웹 서비스</p>
              </div>
            </div>
            <!-- 아카이빙 -->
            <div class="contentbox-3">
              <div class="grad-img">
                <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
              </div>
              <div class="grad-text">
                <p style="font-size: 1.1em; font-weight: bold">제 32회 졸업전시회</p>
                <p style="margin-top: 20px">SHORT</p>
                <p>WRC (김윤수 김은지 최은지 민상은)</p>
                <p style="margin-top: 20px">북마크 및 즐겨찾기가 필요한 링크 또는 이미지를 한 눈에 요약해주고, 필요하면 노트식으로 정리해주는 웹 서비스</p>
              </div>
            </div>

            <!-- 아카이빙 버튼 -->
            <a href="{% url 'create_archiving'%}">
              <div class="contentbox-btn">
                <p>+</p>
              </div>
            </a>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="./image/speech-bubble.png" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
